.navBar {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
  width: 86px;
  background-color: #222;
}

.navBar ul {
  list-style-type: none;
}

.navBar ul li {
  text-align: center;
  padding: 0 0 0 1rem;
}

.navBar ul li a {
  text-decoration: none;
}

.navBar ul li a span {
  display: block;
}

.navBar ul li a span:nth-child(odd) {
  font-size: 30px;
  color: #04b4e0;
}

.navBar ul li a span:nth-child(even) {
  color: aliceblue;
}

.profileSection {
  background-color: #444444;
  max-width: 420px;
  width: 100%;
}

.main {
  background-color: #222;
}
